{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="assets/styles/index.css"/>
{% endblock %}
{% block main_content %}

<div class="right-pane descr">
    <h1>Welcome to Eliezer Ke website, thank you very much for visiting this site, remeber to share your feedback freely with us on the feedback section,</h1>
    <h1>You know what? we have a bunch of offers just for you here today, get your website too</h1>
    
</div>

{% endblock %}

{% block quick_index %}
{% endblock %}
