{% extends "base.html" %}

{% block main_content %}

<div class="x-profile flex">
    <div class="description flex">
                    <!-- Education -->
                    <h1 id="">Good In</h1>
                    <p id="">Developing mobile apps, webapps like this one, desktop apps and embedded systems.</p>
                    <p id="">Well aquainted with Windows, Linux, Ubuntu Android OS's. Good in Python, JavaScript, C/C++, SQL, CSS, Flutter and more. I work under pressure and i also cope with any kind of beings. I am a team leader</p>
                    
    </div>
</div>

{% endblock %}

{% block quick_index %}
{% endblock %}