.contacts
{
    min-width: 90%;
    width: auto;
    border-radius: 20px;
}

.contact
{
    min-height: 100px;
    align-items: center;
    border-radius: 20px;
    width: 90%;
    background-image: linear-gradient(to right, rgba(161, 161, 161, 0.1), rgba(255, 168, 17, 0.276));
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: auto;

}
.contact-content h5
{
    color: rgba(90, 90, 90, 0.434);
    word-wrap: break-word;
    text-align: left;
    font-size: 20px;
    margin-left: 5px;
    width: 30;
    padding: 5px;
}
.contact:hover 
{
    color: #ffffff;
    margin-top: 20px;
    transition: .3s;
    margin-bottom: 5px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.316);
    background-image: linear-gradient(to left, rgba(79, 35, 255, 0.713), rgba(255, 178, 62, 0.081));
}
.contact:hover h3 
{
    color: rgb(255, 255, 255);
}

.contact-title 
{
    width: auto;
}
.contact-title h3
{
    color: rgb(124, 124, 124);
    padding: 5px;
}
.contacts-title 
{
    width: 90%;
    padding: 10px;
    color: rgba(255, 157, 29, 0.708);
    font-family: cursive;
    border-bottom: 1px solid rgba(123, 123, 123, 0.196);
}
.contact-git-img {
    background-image: url(/assets/img/app.ico);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 70px;
    margin-left: 10px;
    height: 70px;
}
.contact-wa-img {
    background-image: url(/assets/img/whatsapp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 70px;
    margin-left: 10px;
    height: 70px;
}
.contact-fb-img {
    background-image: url(/assets/img/fb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 70px;
    margin-left: 10px;
    height: 70px;
}
.contact-ig-img {
    background-image: url(/assets/img/social.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 70px;
    margin-left: 10px;
    height: 70px;
}
.contact-content
{
    display: none;
}
