.div-drawer 
{
    background-color: rgba(0, 0, 0, 0.315);
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 7;
}

.drawer-container
{
    position: absolute;
    right: 0;
    padding: 10px;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow-y: auto;
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.drawer-action-close 
{
    background-color: none;
    border-radius: 20px;
    align-items: center;
    height: auto;

}
.drawer-action-footer 
{
    background-color: none;
    color: rgba(0, 0, 0, 0.342);
    text-align: center;
    border-top: 1px solid rgba(128, 128, 128, 0.276);
    padding: 5px;
    margin: 2px;
    height: auto;
    width: 100%;
}

.not-list 
{
    font-size: 24px;
    list-style: none;
    animation: backwards;
    transition: 0.5s;
}
.not-list a 
{
    color: black;
    text-decoration: none;
}
.not-list a:hover, a:active 
{
    background-color: beige;
    border-radius: 15px;
    color: rgb(0, 13, 255);

}
.drawer-menu-title
{
    text-align: left;
    font-size: 25x;
    margin-left: 10px;
    width: 60%;
}
.drawer-content 
{
    background-color: none;
    min-width: 90%;
    height: 90%;
    margin-top: 10px;

}
.drawer-actions 
{
    background-color: none;
    border: none;
    text-align: left;
    min-width: 80%;
    margin: 10px;
    padding: 15px;

}
.close 
{
    background-image: url(/assets/img/less.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}