* {
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    font-family: sans-serif;
    text-align: center;
}
body {
    background-color: rgb(239, 238, 239);
    color: #3d3d3d;
}
h4 {
    font-size: 28px;
    font-style: oblique;
}
.flex {
    display: flex;
}
.block {
    display: block;
}
.flow {
    overflow-y: scroll;
    z-index: 0;
}
.pg-title {
    margin-left: 70px;
    text-align: left;
    color: #646363;
}
.pad {
    margin-top: 65px;
}
.gen-align {
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar {
    background-color: #ffffff;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 65px;
    height: auto;
    z-index: 5;
}
.mob-dr {
    display: none;
    padding: 2px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    background-color: none;
    color: #9816de;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 5px;
}
.reading-links {
    list-style: none;
    font-family: cursive;
    text-align: left;
    color: rgb(0, 0, 255);
    text-decoration: none;
}
.reading-links > a {
    text-decoration: none;
    color: brown;
}
.nav-menu a {
    color: gray;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-menu a:hover,
.nav-menu a.active {
    color: rgb(32, 32, 255);
}
.left-nav {
    background-image: url(/assets/img/edit.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    padding: 0;
}
.main-frame {
    background-color: rgb(239, 238, 239);
    flex-direction: row;
    justify-content: center;
}

.left-with-bg {
    min-height: 90%;
    position: sticky;
    top: 0;
    padding: 20px;
    flex-direction: column;
    margin-right: 10px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.685), rgba(255, 255, 255, 0.194));
    border-top-left-radius: 2cap;
    border-top-right-radius: 2cap;
}
.left-with-bg > .flex > h3 {
    margin: 10px;
    color: rgb(47, 163, 55);
}
.right-nav > img {
    margin: 20px;
}
.top-mar {
    margin-top: 30px;
}
.right-pane {
    width: 100%;
    min-height: 90%;
    height: auto;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255),rgba(255, 255, 255, 0.523), rgb(255, 255, 255));
}

.intro {
    margin: 30px;

}
.bckgr {
    background-color: #7c2bff;
}
.intro-nav {
    margin: 20px;
}
.cont-2 > .right-nav {
    width: 100%;
}
.backed {
    background: transparent;
}
.btn {
    display: block;
    padding: 12px 24px;
    width: 20%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.btn-link {
    display: flex;
    padding: 12px 22px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.1s;
    background-color: rgb(235, 235, 235);
    color: #deac16;
}
.btn-link-gen   {
    display: flex;
    padding: 12px 22px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
    text-decoration: none; 
    transition: all 0.3s; 

}

.btn-primary {
    background-color: orange;
    color: #6159ff;
}
.btn-gen-primary {
    background-color: rgba(255, 255, 255, 0.831);
    color: #747474;
    nav-down: auto;
}

.btn-primary:hover, .btn-gen-primary:hover {
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.316);
    background-image: linear-gradient(to left, rgb(79, 35, 255), rgb(255, 178, 62));
}

.btn-secondary {
    background-color: rgb(214, 214, 214);
    color: #7c2bff;
}

.btn-secondary:hover {
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(11, 105, 255, 0.3);
    background-image: linear-gradient(to left, rgb(156, 131, 255), rgb(255, 169, 39));
}
.btn-spacing {
    margin: 10px;
}
.div-spacing {
    margin: 12px;
}
.intro > h1 {
    color: rgb(109, 109, 109);
    font-size: 45px;
    text-align: left;
    font-family: cursive;
    font-variant: inherit;
}
.dialog-box {
    position: fixed;
    align-content: center;
    align-items: center;
    background-color: #141414a2;
    z-index: 6;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.justified {
    justify-content: flex-end;
    width: 100%;
}

.d-content {
    padding: 35px;
    max-width: 70%;
    width: auto;
    margin: 15%;
    border-radius: 10px;
    color: #141414a2;
    background-color: #ffffff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
.d-content > .flex > h1, p {
    text-align: left;
}
.p {
    font-size: 28px;
    padding: 15px;
    border: 1px solid rgba(221, 218, 218, 0.32);
}

#message_content {
    max-height: 400px;
    overflow-y: auto;
}

.p > p {
    color: rgb(194, 194, 194);
}
.hidden {
    display: none;
}

.visible {
    display: block;
}
.centered {
    text-align: center;
}
.section-two {
    flex-direction: row;
    background-color: white;
    padding: 15px;
    margin: 15px;
}
.float-e {
    float: left;
}
.pc {
    display: grid;
}
.both {
    display: grid;
    text-align: left;
}
.colored {
    color: #b330ff;
    border: none;
}
.colored-yellow {
    color: #ffffff;
    background-color: #a4a4ff;
    padding: 5px;
}
.float-w {
    float: right;
}
.float-n {
    float: top;
}
.float-s {
    float: bottom;
}
.content-box {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;

}
.content-box-img img:hover {
    width: 50%;
    transition-property: all;
    transition: all .5s;
}
.x-profile {
    min-height: 400px;
    height: auto;
}
.image {
    width: 50%;
    align-items: center;
    justify-content: center;
}
.description {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.description > p, .description > ul > li {
    text-align: center;
    padding: 5px;
    font-size: 40px;
    width: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.description > ul {
    flex-direction: column;
}
.description > h1 {
    margin-top: 20px;
    color: orange;
    margin-bottom: 20px;
    font-variant: small-caps;
    word-wrap: break-word;
    text-wrap: initial;
    font-weight: bold;
    font-family: cursive;

}
.content-box > img {
    margin-top: 55px;
    border-radius: 100%;
    
}
.mob-dr {
    background-image: url(/assets/img/menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
        
}
    .description > p {
        font-size: 40px;
}

.top-main-margin {
    z-index: 0;
    background-image: url(/assets/img/Picture1.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat;
}

.left {
    text-align: left;
}
.page-footer {
    justify-content: center;
    background-image: linear-gradient(to left, rgb(255, 255, 255), none);
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
.page-footer p {
    text-align: center;
    color: rgb(71, 71, 71);
    padding: 20px;
    font-family: cursive;
}
@media screen and (min-width: 360px) {
    .right-pane {
        width: 100%;
        margin: 10px;
        padding: 0;
    }
    .main-frame {
        width: 10%;
    }
.description > ul {
    flex-direction: column;
}
}
@media screen and (max-width: 779px) {
    .main-frame {
        flex-direction: column;
        width: 100%;  
    }
    .moveable, .pc-only{
        display: none;
    }
    .right-pane {
        width: 95%;
    }
    .mob-dr {
        display: block;

    }

    .btn-link {
        display: none;
    }
    .description > p {
        font-size: 40px;
    }
.description > ul {
    flex-direction: column;
}
}

@media screen and (min-width: 780px) {
    .main-frame {
        width: 100%;  
    }
     .pc-only{
        display: none;
    }
    .description > p {
        font-size: 40px;
    }
  .description > ul {
    flex-direction: column;
}  
}
@media screen and (min-width: 1300px) {
    /* sideways quick reading list - links to jump to specific info */
    .pc-only{
        display: flex;
    }
.description > ul {
    flex-direction: row;
}
.drawer {
    display: none;
}
} 
